.modal_content_wrap {
  width: 684px;
  padding: 24px 24px 36px 24px;
  border-radius: 24px;
  background: #fff;
}

.title {
  font-size: 40px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 24px;
}

.modal_body {
  display: flex;
  gap: 16px;
  margin-bottom: 38px;
}

.img_wrapper {
  max-width: 276px;
  align-self: center;
}

.img_item {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.modal_text {
  max-width: 344px;
}

.descr {
  font-size: 16px;
  line-height: 130%;
  margin-bottom: 10px;
}

.ingredients_list {
  font-size: 12px;
  line-height: 130%;
  margin-bottom: 4px;
}

.list_caption {
  font-weight: 600;
  margin-bottom: 4px;
}

.ingredients_item {
  font-weight: 400;
  margin-bottom: 2px;
}

.ingredients_item:last-child {
  margin-bottom: 0;
}

.product_weight {
  color: #b1b1b1;
  font-size: 12px;
  line-height: 130%;
}

.modal_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_wrap {
  display: flex;
  gap: 16px;
}

.add_btn {
  color: #fff;
  font-family: Nunito;
  font-size: 16px;
  padding: 9px 32px;
  width: 276px;
  border-radius: 12px;
  background: #ff7020;
  border: none;
  transition: all 0.2s;
}

.add_btn:hover {
  background: #ffab08;
}

.add_btn:focus-visible {
  outline: none;
  background: #f86310;
}

.price {
  font-size: 24px;
  font-weight: 600;
  line-height: 130%;
}

@media (max-width: 770px) {
  .modal_content_wrap {
    width: 524px;
    padding: 16px 16px 24px 16px;
  }

  .title {
    font-size: 28px;
    margin-bottom: 16px;
  }

  .modal_body {
    gap: 8px;
    margin-bottom: 22px;
  }

  .modal_text {
    max-width: 258px;
  }

  .descr {
    font-size: 12px;
  }

  .ingredients_list {
    font-size: 10px;
  }

  .product_weight {
    font-size: 10px;
  }

  .footer_wrap {
    gap: 8px;
  }

  .add_btn {
    font-size: 12px;
    padding: 7px 32px;
    width: 218px;
  }
}

@media (max-width: 560px) {
  .modal_content_wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 0;
    padding: 32px 10px;
    overflow-y: scroll;
  }

  .title {
    margin-bottom: 12px;
  }

  .modal_body {
    flex-direction: column;
    gap: 16px;
    margin-bottom: 22px;
  }

  .img_wrapper {
    max-width: 400px;
    align-self: flex-start;
  }

  .modal_text {
    max-width: 400px;
  }

  .modal_footer {
    margin-top: auto;
    flex-direction: column;
    gap: 16px;
  }

  .footer_wrap {
    align-self: flex-start;
  }

  .price {
    font-size: 16px;
    align-self: flex-end;
  }
}
