.no_product {
  font-size: 16px;
  line-height: 130%;
  width: 300px;
}

.product_list_title {
  font-size: 40px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 24px;
}

.cards_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card {
  max-width: 300px;
  background-color: #fff;
  padding: 12px;
  border-radius: 18px;
}

.card_img {
  margin-bottom: 16px;
  max-width: 276px;
  cursor: pointer;
}

.img_item {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.price {
  display: block;
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 600;
}

.card_name {
  font-size: 16px;
  line-height: 130%;
  margin-bottom: 29px;
}

.weight {
  display: block;
  margin-bottom: 8px;
  color: #b1b1b1;
  font-size: 16px;
  font-weight: 600;
  line-height: 130%;
}

.card_btn {
  padding: 11px 0;
  width: 100%;
  border: none;
  border-radius: 12px;
  background: #f2f2f3;
  font-family: Nunito;
  font-size: 16px;
  line-height: 100%;
  transition: background 0.2s;
}

.card_btn:hover {
  color: #fff;
  background: #ffab08;
}

.card_btn:active {
  background: #f86310;
}

.card_btn:focus-visible {
  outline: none;
  color: #fff;
  background: #f86310;
}

@media (max-width: 1300px) {
  .cards_wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1023px) {
  .product_list_title {
    font-size: 28px;
    margin-bottom: 16px;
  }

  .cards_wrapper {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .card {
    padding: 4px;
  }

  .card_img {
    margin-bottom: 10px;
  }

  .product_list {
    margin-top: 78px;
  }

  .price {
    margin-bottom: 4px;
    font-size: 16px;
  }

  .card_name {
    font-size: 12px;
    margin-bottom: 16px;
  }

  .weight {
    margin-bottom: 7px;
    font-size: 12px;
  }

  .card_btn {
    font-size: 12px;
  }
}

@media (max-width: 700px) {
  .cards_wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 460px) {
  .cards_wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}
