.basket {
  margin-top: 72px;
  background-color: #fff;
  padding: 24px 16px;
  border-radius: 18px;
  width: 300px;
  align-self: flex-start;
}

.basket_head {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 24px;
  font-weight: 600;
}

.head_count {
  font-size: 12px;
  padding: 4px 16px;
  background-color: #f2f2f3;
  border-radius: 6px;
}

.basket_body {
  margin-bottom: 16px;
  margin-top: 12px;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  border-bottom: 1px solid #f2f2f3;
}

.card:first-child {
  border-top: 1px solid #f2f2f3;
}

.product {
  display: flex;
  gap: 6px;
}

.img {
  width: 64px;
  height: 52px;
}

.img_item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.card_dscr {
  font-size: 12px;
}

.card_name {
  margin-bottom: 1px;
}

.weight {
  display: block;
  color: #b1b1b1;
  margin-bottom: 6px;
  height: 16px;
}

.price {
  display: block;
  height: 16px;
}

.sum {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 130%;
  margin-bottom: 24px;
}

.order_btn {
  color: #fff;
  font-family: Nunito;
  font-size: 16px;
  width: 100%;
  padding: 11px 0;
  border-radius: 12px;
  background: #ff7020;
  border: none;
  cursor: pointer;
  transition: background 0.2s;
}

.order_btn:hover {
  background: #ffab08;
}

.order_btn:active {
  background: #f86310;
}

.order_btn:focus-visible {
  outline: none;
  background: #f86310;
}

.delivery {
  display: block;
  font-size: 12px;
  padding: 5px 0 5px 32px;
  margin-top: 8px;
  background: url(./img/delivery.png) no-repeat;
  background-size: 24px;
  background-position-y: bottom;
}

.empty {
  display: block;
  margin-top: 16px;
  font-size: 16px;
  line-height: 130%;
}

@media (max-width: 1023px) {
  .basket {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 0;
    padding: 16px 10px;
    width: auto;
    max-width: 145px;
    transition: all 0.8s;
  }

  .shadow {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
  }

  .open_width {
    max-width: 300px;
  }

  .basket_head {
    gap: 27px;
  }

  .title {
    font-size: 16px;
  }

  .head_count {
    font-size: 10px;
    padding: 3px 13px;
  }

  .empty {
    display: none;
  }

  .close {
    max-height: 0;
    overflow: hidden;
    transition: all 1s ease;
  }

  .open {
    max-height: 700px;
  }

  .basket_head::after {
    content: "";
    position: absolute;
    border-radius: 12px;
    top: -16px;
    bottom: -16px;
    left: -10px;
    right: -10px;
    cursor: pointer;
  }

  .basket_body {
    margin-top: 8px;
    width: 280px;
  }

  .sum {
    font-size: 12px;
    margin-bottom: 19px;
  }

  .order_btn {
    font-size: 12px;
  }

  .delivery {
    font-size: 10px;
    padding: 6px 0 6px 32px;
  }
}

@media (max-width: 460px) {
  .basket {
    right: 0;
    max-width: none;
  }

  .basket_body {
    width: auto;
  }
}
