.count {
    border-radius: 12px;
    background: #f2f2f3;
  }
  
  .count_btn {
    font-family: Nunito;
    font-size: 12px;
    background-color: inherit;
    border: none;
    padding: 7px 8px;
    cursor: pointer;
    border-radius: 12px;
  }
  
  .count_num {
    font-size: 12px;
    padding: 0 10px;
  }