.count {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  border-radius: 12px;
  background: #f2f2f3;
}

.count_btn {
  font-family: Nunito;
  font-size: 16px;
  background-color: inherit;
  border: none;
  padding: 9px 12px;

  border-radius: 12px;
}

.count_btn:focus {
  outline-color: #f86310;
  outline-offset: -3px;
}

.count_num {
  font-size: 16px;
  padding: 0 5px;
}

@media (max-width: 1023px) {
  .count_btn {
    font-size: 12px;
    padding: 7px 8px;
  }

  .count_num {
    font-size: 12px;
    padding: 0 10px;
  }
}
