.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  padding: 0 15px;
  transition: all 0.4s;
  pointer-events: none;
  opacity: 0;
}

.active_modal {
  pointer-events: all;
  opacity: 1;
}

.content_wrapper {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-150px);
  transition: all 0.4s;
}

.active_wrapper {
  opacity: 1;
  transform: translateY(0);
}

.btn_close {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  border: none;
  background-color: inherit;
  height: 24px;
}

.btn_close:focus {
  outline-color: #f86310;
  outline-offset: 3px;
  border-radius: 50%;
}

@media (max-width: 570px) {
  .content_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .btn_close {
    top: 10px;
    right: 10px;
  }
}
