@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  background: #f9f9f9;
}

.container {
  padding-left: 75px;
  padding-right: 75px;
}

.menu {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-bottom: 100px;
}

@media (max-width: 1100px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (max-width: 1023px) {
  .menu {
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
  }
}

@media (max-width: 768px) {
  .container {
    padding-left: 64px;
    padding-right: 64px;
  }
}

@media (max-width: 630px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
